<h1>Blog Posts</h1>

<% @posts.each do |posts| %>
    <h3><%= link_to posts.title, posts %></h3>
    <p><%= posts.body %></P>
    <hr>

<% end %>
<%= link_to "Add New post",new_post_path %>


